__fem
__fem/
__fem/*
__fem/**/*
__stuff
__stuff/
__stuff/*
__stuff/**/*
__mesh_processing
__mesh_processing/
__mesh_processing/*
__mesh_processing/**/*
document/poster
document/poster/
document/poster/*
document/poster/**/*
FiniteElements/data/sparsity_pattern.ppm
fem
fem/
fem/*
fem/**/*
meshing
meshing/
meshing/*
meshing/**/*
